
.website-header{
    margin-top:60px;
    margin-bottom:90px;
    margin-top:6vw;
    margin-bottom:6vw;
  }

  .socials-header{
    margin-bottom: 10vw;
    /*padding-left: 80px;*/
    /*padding-left: 15vw;*/
    font-size: 1.8vw;
  }


  .header-panel{
    width: 100%;
    display: inline-flex; 
    justify-content: space-between;
    margin: auto;
    height: auto;
  }

  
  .website-title-container{
    /*padding-left: 100px;*/
    /*padding-left: 15vw;*/
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .left-header-panel{
    width:60%;
    /*background-color:powderblue;*/
  }
  
  .right-header-panel{
    padding-left: 40px;
    text-align: left;
    width:40%;
  }
  
    

  .website-title-main{
    /*min-height:220px;*/
  
  }

  .website-title{
    font-size: 100px;
    font-size: 8vw;
    line-height: 98%;
    font-weight: 800;
  }
  
  .website-title-subtitle{
    display: block;
    width: 100%;
    font-size: 13px;
    font-size:1.4vw;
    padding-right: 0.5vw;
  }
  

  .subline{
    display: inline;
    font-size: 30px;
  }


  .website-title-img{
    width:55%;
    width:25vw;
    margin-left:3vw;
    text-align: center;
  
  
  
  }

  
#demo, #demo2{
    /*background: rgb(255, 80, 238);*/
    /*background-color: powderblue;
    background: linear-gradient(90deg, powderblue 70%, #ffffff 30%);
    background: linear-gradient(90deg, powderblue 30%, #ffffff 70%);
    background: linear-gradient(180deg, white 50%, powderblue 50%);*/
    /*background: linear-gradient(90deg, powderblue 30%, #ffffff 70%);*/
    background-color: rgb(150, 255, 58);
    padding-right: 12px;
  
  }
  
  #demo2{
    /*background: linear-gradient(270deg, powderblue 80%, white 20%);*/
  }
  
  .demo-div p{
    margin-bottom: 30px;
    margin-bottom:2vw;
  }
  #demo{
    padding-right: 14px;
  
  }
  
  
.mobile-img{
    display: none;
}

.phone-div{
    display: none;
}


/*temp*/

/*.left-header-panel{
  width:50%;
  text-align: center;
}

.socials-header{
  margin-bottom: 10px;
  font-size: 14px;
}
.website-header{
  margin-top: 30px;

}

.website-title{
font-size: 46px;
background-color: none;
}
.website-title-subtitle{
  font-size: 14px;
  background-color: none;
  }

.demo-div, .demo-div2{
    display: none;
}
.sm-icon-header{
  display: contents;
}

.mobile-img{
  display: block;

  }

.mobile-img img{
    max-width: 70%;
    padding: 30px;
    margin: 20px 0;

}
.phone-div{
    display: contents;
}
.phone-div span{
    background-color: none;

}*/
  
  @media only screen and (max-width: 700px) {
    
    
    .website-header{
        margin-top:60px;
        margin-bottom:90px;
        margin-top:6vw;
        margin-bottom:15vw;
    }

    .socials-header{
        margin-bottom: 20vw;
    
        /*padding-left: 80px;*/
        /*padding-left: 15vw;*/
        font-size: 4vw;
    }
    .left-header-panel{
        width:100%;
        text-align: center;
        /*background-color:powderblue;*/
      }
      
      .right-header-panel{
        display: none;
      }
      .website-title{
        font-size: 60px;
        font-size: 10vw;
        line-height: 112%;
      }

      .website-title-subtitle{
        display: block;
        width: 100%;
        font-size: 10px;
        font-size: 3.5vw;
        padding-right: 0vw;
      }
      .demo-div p{
        margin-top:0px;
        margin-bottom:0px;
      }
      .demo-div2 p{
        margin-top:2vw;
        margin-bottom:2vw;
      }

      .demo-div, .demo-div2{
          display: none;
      }
      .sm-icon-header{
        display: contents;
      }
      .icon-header{
          display: none;
      }
      .mobile-img{
        display: block;
        
        }
      
        .mobile-img img{
            max-width: 80%;
            padding: 30px;
            margin: 20px 0;

        }
        .phone-div{
            display: contents;
        }
        .phone-div span{
            background-color: rgb(150, 255, 58);

        }
    
  }
  

  