---
layout: default
title: Blog
permalink: "/blog"
---

<style>

    .panel{
        margin: 0;

        font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
        font-size: 1em;
        line-height: 1.5;
        color: rgb(82, 80, 80);
        width: 100%;
    }

    .panel-1{
        width: 100%;
        min-width: 100%;
        border-radius: 8px;
        font-size: 12px;
       
    }

    .item{
        border-radius: 0px;
        margin: 5px 0px;
        padding: 8px 5px;
        border-bottom: 1px solid black;
       
        text-decoration: none;

        display: flex;
        justify-content: flex-start;
    }

  


    .item-content{
        padding-left: 0px;
        min-width: 90%;
    }



    .title{
        font-size: 14px;
        padding: 0px;
        margin: 3px 0;
        font-weight: 400;
    }

    .description{
        font-size: 10px;
        padding: 0px;
        margin: 3px 0;
        color: rgb(132, 129, 129);
    }



    .item:hover{
        color: rgb(62, 119, 198);
        text-decoration: underline;
    }


</style>


<div>

<h3 class="panel-title " >What I'm writing</h3>

<div id="list" class="panel panel-1">

   

            {% for post in site.posts %}
            <a href="{{post.url}}" target="_blank" class="item" >
        
                    
                    <div class="item-content">
                        <h3 class="title">{{post.headline}}</h3>
                        <p class="description">{{post.subline}}</p>
                    </div>
                
            </a>
            {% endfor %}





</div>

<div class="panel panel-2" >

    {{content}}
</div>


</div>
