---
layout: default
---
<style>

 
    .panel{
        margin: 0;
        width: 100%;
        padding:5px 10px;
        border-radius: 8px;

        font-family: "Work Sans", "Nunito", Helvetica,"Palatino Linotype","Book Antiqua",Palatino,serif, NB International Pro,Helvetica,Helvetica Neue,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,sans-serif;
    }


    .panel-about{

        background-color:rgb(255, 255, 255);
        color: #454545;
        font-size: 12px;

               
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        height: auto;
        
    }

    .container_about_image{

        margin: auto;
        margin-right: 130px;

        width: 120px;


    }

    .container_about_image img{
        max-width: 150%;
        
        border-radius: 50%;
  
    }

    .container_about_text{
        min-width: none;
        max-width: 100%;
        border: 2px solid #070707;


      
        
    }

    .about_text_title{
        font-size: 28px;
        font-weight: 600;
        /* font-weight: bold; */

    }

    .debug{
        color: red;
        background-color: #c7c7c7;
    }

    .about-me-blurb{
        font-size: 20px;    
        
    }

    .about-highlights{
        font-size: 16px;    
        font-family: "Helvetica";
        font-weight: 100;

        padding: 0 0%;
        list-style-type: none;

    }

    .panel-b{

        margin: 40px 0px;
        width: 100%;
    }

    .panel-title{
        color: #070707;

        font-weight: 300;
        font-size: 25px;
        font-weight: 700;
        font: 'Work Sans Bold';
        text-align: center;

        margin: 0;
        padding: 30px 0;

    
    }

    .panel-block-body{


        /* background-color: aquamarine; */
  
        width: 100%;
        overflow-y: scroll;

        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        padding: 5px 3px;
    }

    .panel-block{

        /* margin: 5px 0px; */
        padding: 6px 6px;
        min-height: 70px;

        /* border-bottom: 1px solid black; */
        display: flex;
        justify-content: flex-start;
        align-items: center;
        min-width: 32%;
        max-width: 32%;
        /* min-height: 200px;
        max-height: 200px; */
        overflow: hidden;

        margin-bottom:15px;

        box-shadow:
        0px 0px 0.4px rgba(0, 0, 0, 0.02),
        0px 0px 1px rgba(0, 0, 0, 0.028),
        0px 0px 1.9px rgba(0, 0, 0, 0.035),
        0px 0px 3.4px rgba(0, 0, 0, 0.042),
        0px 0px 6.3px rgba(0, 0, 0, 0.05),
        0px 0px 15px rgba(0, 0, 0, 0.07);
        
        border-radius: 8px;


        
    }

    .panel-block:hover{
        color: rgb(62, 119, 198);
        text-decoration: underline;

    }

    .panel-block-a{
        text-decoration: none;
    }


    .card {
        display: flex;
        flex-direction: column;


        font-size: 12px;


    }

    .card__cover {
        min-height: 150px;
        max-height: 150px;
        overflow: hidden;
        

        
    }

    .card__cover img{
        min-width: 100%;
        max-width: 100%;

        border-radius: 8px 8px 0 0 ;
    }


    .card__content {
        min-height: 60px;
        max-height: 60px;
        text-overflow: ellipsis;
        /* Take available height */
        /* flex: 1; */
        margin: 6px 0;
    }

    .card__content p{
        padding: 0;
        margin: 0;
    }
    .card_content_headline{
        font-size: 12px;
        font-weight: 600;
    }
    .card_content_subline{
        font-size: 10px;
        color: #454545;
    }

    .container_about_image{
          
    }

    @media only screen and (max-width: 420px) {
        

        .about_text_title{
            font-size: 28px;
            font-weight: 600;
            margin-top: 20px;
            /* font-weight: bold; */

        }
        /* For mobile phones: */
        .container_about_image{
            display: none;
        }

        .about-highlights{
            min-width: 100%;
            text-align: left;
        }
        .container_about_text{
            min-width: 100%;
            text-align: center;
            height: auto;
        }

        .panel-title{
            text-align: center;
        }

        .panel-b{
            margin: 0;
        }

        .panel-block{
            min-width: 100%;
        }

    }


</style>

<body>



        <div class="panel panel-about">

              
            


               
                <div class="container_about_text">
                    <h4 class="about_text_title">Hi, I'm Kitan 👋🏿 </h4>
                    <ul class="about-highlights">
                        <li>🎓 Computer engineering & business administration</li>
                        <li>💼 Work in management consulting</li>
                        <li>💡 Learning about emerging markets, crypto, payments & agriculture</li>
                        <li>💫 Goal is to use my skills to improve the global quality of life</li>
                        <li>🛠 Some technical skills are Python, SQL, Javascript, Web dev, Excel modelling</li>
        
                    </ul>
                </div>
                <div class="container_about_image">
                    <img src="../assets/me2.jpeg">
                </div>
           
 
        </div>
    
    
        <div class=" panel panel-b">
            <h3 class="panel-title">My Projects</h3>


            <div class="panel-block-body">

                {% for post in site.posts %}

                <div  class="panel-block">
                    <a href="{{post.ref_link}}" target="_blank" class="panel-block-a">
                    <div class="card">
                        <!-- Cover -->
                        <div class="card__cover">
                            <img src="{{ post.image }}">
                   
                        </div>
                    
                        <!-- Content -->
                        <div class="card__content">
                            <p class="card_content_headline">{{ post.headline }}</p>
                            <p class="card_content_subline">{{ post.subline }}</p>
                        </div>
                        
                    </div>
                </a>
            </div>
            
         
              {% endfor %}

           
                


            
            </div>
        </div>


    

            
 
    
    







</body>
</html>
