---
layout: default
title: post
---


<style>

    .article{
        font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
        font-size: 1em;
        line-height: 1.5;
        color: rgb(82, 80, 80);
        width: 100%;
        max-width: 800px;
        max-height: 70vh;
        overflow: scroll;
    

    }
    .headline{
        font-size: 30px;
        padding: 0;
        margin: 0;
        color: black;

    }
    .subline{
        font-size: 18px;
        padding: 0;
        margin: 0;
        color:grey;
        margin-bottom: 50px;

    }
    .content{
        font-weight: 200;
    }

</style>



<div class="article">

    <h1 class="headline">{{ page.headline }}</h1>
    <p class="subline" >{{page.subline}}</p>

    <div class="content">
        {{ content}}
    </div>

</div>
